body {
    margin: 0;
    /*background: url('../images/omegastation.jpeg');*/
    background-size: 1920px 1080px;
    background-repeat:no-repeat;
	display: compact;
}

.book-image {
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.message { color: #8ec127; }
.error { color: #d41243; }
.warning { color: #ffa500; }
